<body>
  <%- include('./nav')%>

  <main>
    <%- include('../templates/messages.ejs') %>
<div class="flex-container">
      <form action="/search" method="get">
        <input type="search" name="searchPost" id="searchPost" placeholder="Faça uma busca por Categoria" />
        <button class="btn-search"><img src="/assets/imgs/lupa.png" alt=""></button>
      </form>
</div>

    <section>
      <h1>Postagens feitas ate o Momento:</h1>
      <div class="post-container">
        <%if(posts == '') { %>
        <span>Não existem posts salvos na base de dados</span>
        <% } else { %> <% posts.forEach(post => { %>
        <div class="post-to-display">
          <div>
            <% const imagePathPublic = post.imageUrl.replace('public', ''); %>
            <img class="image-display" src="<%= imagePathPublic %>" alt="image" />
          </div>
          <div>
            <h2 class="title"><%= post.title %></h2>
            <h3><%= post.description %></h3>
            <% let string = post.theme; %>
            <h4>Tema: <%= string.charAt(0).toUpperCase() + string.slice(1); %></h4>
            <h3>Autor do Post: <%= post.author %></h3>
            <h3>Data de Criação: <%= post.formatedDate %></h3>
            <h3>Ultima Atualização: <%= post.formatedDateToUpdated %></h3>
            <div class="flex-container">
              <div class="container-count">
                <img class="image-like" src="/assets/imgs/like.png" alt="image like">
                <p class="like"><%= post.likes %></p>
              </div>
              <div class="container-count">
                <img class="image-dislike" src="/assets/imgs/dislike.png" alt="image like">
                <p class="dislike"><%= post.dislikes %></p>
              </div>
            </div>
            <a href="/show/<%= post._id %>">Veja mais...</a>
          </div>
        </div>
         <% }) %> 
        <% } %>
      </div>
    </section>
  </main>
