<body>
    <%- include('../templates/nav.ejs')%>

    <main>
        <%- include('../templates/messages.ejs') %>
    
        <section>
            <h1>Boa Leitura</h1>
            <div class="post-container">
                <% const imagePathPublic = post.imageUrl.replace('public', ''); %>
                <img src="<%= imagePathPublic %>" alt="image">
                <h2><%= post.title %></h2>
                <h3><%= post.content %></h3>
                <h3>Autor: <%= post.author %></h3>
                <% let formatedDate = new Date(post.createdAt).toLocaleDateString("pt-BR") %>
                <h3>Data de Criação: <%= formatedDate %></h3>
               <% if (user.username === post.author) {%>
                <a href="/update/post/<%= post._id %>">Atualizar</a>
                <a href="">Deletar</a>
                <% } %>
                <a href="">Voltar</a>
            </div>
        </section>

    </main>
