<body>
  <%- include('./nav')%>

  <main>
    <%- include('../templates/messages.ejs') %>

    <form action="/search" method="get">
      <input type="search" name="searchPost" id="searchPost" />
      <button>Search</button>
    </form>

    <section>
      <h1>Postagens feitas ate o Momento</h1>
      <div class="post-container">
        <% if (posts == '') { %>
        <span>Não existem posts salvos na base de dados</span>
        <% } else { %> <% posts.forEach(post => { %>
        <h2>Titulo: <%= post.title %></h2>
        <h3>Descrição: <%= post.description %></h3>
        <% const imagePathPublic = post.imageUrl.replace('public', ''); %>
        <img src="<%= imagePathPublic %>" alt="image" />
        <h4>Tema: <%= post.theme %></h4>
        <h3>Autor do Post: <%= post.author %></h3>
        <h3>Criado Em: <%= post.formatedDate %></h3>
        <a href="/show/<%= post._id %>">Veja mais</a>
         <% }) %> 
        <% } %>
      </div>
    </section>
  </main>
</body>
