<body>
    <%- include('../templates/nav.ejs')%>

    <main>
        <%- include('../templates/messages.ejs') %>
    
        <section>
            <h1>Boa Leitura</h1>
            <div class="post-container">
                <% const imagePathPublic = post.imageUrl.replace('public', ''); %>
                <img src="<%= imagePathPublic %>" alt="image">
                <h2><%= post.title %></h2>
                <h3><%= post.content %></h3>
                <h3><%= post.author %></h3>
                <h3><%= post.formatedDate %></h3>
                
            </div>
        </section>

    </main>
